html {
    -webkit-print-color-adjust: exact;
}
body {
    background-color: #000;
  }

body {
    font-size: 18px;
    margin:0;
}
header{
    page-break-inside: avoid;
    height: 100vh;
}
.matters {
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100vh;
    margin: 0;
}
.pad145 {
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0;
}
.container__flex {
margin-bottom: 0px;
}
.container__flex__block{
    padding: 10px;
    height: auto;
    margin-bottom: 10px;
}
.who{

    height: 100vh;
    padding-top: 0;
}
.what{
    height: 100vh;
    padding: 0;
    padding-bottom: 10px;
}
.meet__team{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.meet__team-item{
    width: 50%;
}
.wh2__photo-girl img{

    
}
.wh2__forma{
    margin-top: 500px;
}
footer {
    margin-top: 200px;
}