$font-stack: 'Open Sans', sans-serif;
$primary-color: #737373;
$primary-colorA: #252B42;
$primary-colorB: #784F33;

html {
    -webkit-print-color-adjust: exact;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    font-size: 14px;
    color: $primary-color;
    text-decoration: none;
    padding: 26px;
}

body {
    font-family: $font-stack;;
}

.container {
    max-width: 1050px;
    margin: 0 auto;
    padding: 0 35px;
}

.top-main {
    width: 50%;
    text-align: left;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: flex-start;
    display: flex;
}
.header{
    background: url('../image/top.png') 100% 100% no-repeat; /* Добавляем фон */
    background-size: cover; /* Масштабируем фон */
    background-size: 100% 100%; /* Масштабируем фон */
    background-repeat: no-repeat; 
    background-position: center center;
   /*
    color: #FFFFFF;
    background-color: #000000;
   
       background-image: url(../image/top.png);
       background-repeat: no-repeat;
       background-size: cover;
       width: 100%;
       height: 100vh;
   */
}

.but-menu {
    height: 14px;
    padding-left: 60px;
}

.header__top-wrapper {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 7vw;
    justify-content: start;
    margin: 0 auto;
    grid-template-areas: "header__logo header__top-menu header__top-butts";
    align-items: center;
}

.header__logo {
    font-size: 24px;
    color: $primary-colorA;
    font-family: 'Martel', serif;
    grid-area: header__logo;
}
.header__top-menu {
    display: flex;
    gap: 26px;
    grid-area: header__top-menu;
}

.header__top-butts {
    position: absolute;
    right: 50px;
    z-index: 1;
    display: flex;
    justify-content: flex-end;
    grid-area: header__top-butts;
    align-items: center;
    gap: 24px;
}

.header__top {
    padding: 36px 0;
}

.butt {
    border-radius: 37px;
    font-size: 14px;
    line-height: 28px;
    padding: 10px 36px;
    border: 1px solid $primary-colorB;
    color: $primary-colorB;
    width: fit-content;
    background-color: rgba(28,28,28,0);
}

.first {
    margin-right: 10px;
    color: #FFFFFF;
    border: 1px solid #295C7A;
    background-color: #295C7A;
}
.blue{
    color: #295C7A;
    border: 1px solid #295C7A;
    background-color: none;
}
.brown {
    background-color: $primary-colorB;
    color: #FFFFFF;
}

.container__flex__block {
    width: 328px;
    height: 112px;
    background-color: #FAFAFA;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
    border: 1px solid #E2E2E2;
    padding: 20px;
    box-sizing: border-box;
}

.text-m {
    color: $primary-color;
}

.matters {
    background-color: #FFFFFF;
    display: block;
    padding-bottom: 30px;
}

.container__flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 50px;
    margin-bottom: 50px;
}

.container__flex__block>img {
    width: 72px;
    height: 72px;
    margin-right: 15px;
}

.link {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
}

.top__text {
    font-family: 'Martel', serif;
    font-weight: 900;
    font-size: 58px;
}

.h2 {
    font-family: 'Martel', serif;
    color: $primary-colorA;
    font-size: 40px;
    margin-bottom: 15px;
    line-height: 50px;
    font-weight: bold;
}

.p {
    font-family: 'Open Sans', sans-serif;
    color: $primary-color;
    font-size: 14px;
    line-height: 20px;
}

.who {
    background-color: #FAFAFA;
    padding: 100px 0;
}

.h5 {
    color: $primary-colorA;
    font-size: 16px;
    font-family: 'Martel', serif;
}



.centr {
    text-align: center;
}

.pad145 {
    padding-top: 145px;
}

.what {
    background-color: #295C7A;
    overflow: hidden;
    padding-top: 80px;
    padding-bottom: 130px;
}

.white {
    color: white;
}

.h3 {
    font-family: 'Martel', serif;
    font-size: 24px;
    line-height: 32px;
    font-weight: bold;
    color: $primary-colorA;
}

.meet {
    background-color: #FAFAFA;
    width: 100%;
    display: block;
    position: relative;
    padding: 80px 0;
    justify-content: space-between;
}

.meet .width {
    margin: 0 auto 50px auto;
}

.meet__text {
    padding: 0 80px 50px 80px;
}
.meet__team {
    padding: 0 40px;
}
.meet__team>img {
    width: 128px;
    height: 128px;
}

.meet__team-item {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 95px;
    justify-content: space-between;
    margin-bottom: 30px;
}
.meet__team-item {
p {
    text-align: center;
}
}
.color {
    color: #D0A144;
}

.colorb {
    color: $primary-colorA;
}

.h4 {
    color: $primary-color;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    margin: 35px 0;
}


.who__flex-block {
    display: flex;
    margin-top: 30px;
}
.who__flex-block img {
    width: 32px;
    height: 32px;
    margin-right: 22px;
}

.flex__text-block {
    width: 273px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 1.5em;
}

.what__blockw {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 30px 60px;
    box-sizing: border-box;
}

.what__mans {
    width: 96px;
    height: 96px;
    position: absolute;
    left: -28px;
    top: 28px;
}

.what__container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 80px;
    padding-left: 30px;

}

.what__stars {
    width: 110px;
    height: 22px;
}


.what__cont-blockw {
    position: relative;
    margin: 0 45px;
    width: 85%;
    margin-bottom: 40px;
}
.what__cont-blockw:last-child {
    margin-bottom: 0;
}

footer {
    padding: 80px 85px;
}

.col-margin {
    margin-bottom: 25px;
}

.col-img {
    margin-right: 20px;
}

.footer__col-menu a {
    text-decoration: none;
    display: block;
    padding: 10px;
    padding-left: 0px
}

.but-menum {
    display: none;
}
.h4-mobile{
    display: none;
}

.wh {
    background-color: $primary-colorA;
    padding-top: 50px;
}
.wh2{
    padding-bottom: 121px;
}
.wh2__forma {
    padding: 50px;
}
.wh2__form {
    width:100%;
    height: 50px;
    font-size: 14px;
    background-color: #F9F9F9;
    color: #BDBDBD;
    border: 1px solid #bdbdbd;
    margin-bottom: 15px;
    margin-top: 5px;
    border-radius: 4px;
    
}

.f-but {
    background-color: $primary-colorB;
    color: white;
    font-size: 14px;
    margin-top: 45px;
}

.wh__world-map {
    width: 100%;
    
}
.wh__world-map .world {
    width: 100%;
}

.wh2__photo-girl {
    width:100%;
    overflow: hidden;
}

.wh2__photo-girl img {
    width: 100%;
    display: block;
    max-width: 100%;
    max-height: 100%;
}

.who__flex-column {
    flex-wrap: wrap;
}

.who__text-right{
    margin: 0 auto;
    max-width: 670px;
}
.who__flex-column>img {
    width: 100%;
    max-width: 670px;
    display: block;
    margin: 0 auto;
}
.wh2__request {
    background-color: white;
}
@media (min-width: 1420px) {
    .what__container {
        overflow: hidden;
        min-width: 1770px;
        flex-wrap: nowrap;
        justify-content: center;
        margin-left: -90px;
        padding-left: 0px;
    }
}

@media (max-width: 500px) {
    .but-menu {
        padding-left: 0;
    }
    .flex__text-block {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .what__container {
        display: flex;
        justify-content: space-between;
        width: 91%;
        flex-direction: column;
        margin-left: 0;
        height: fit-content;
        gap: 30px;
        margin: 0 auto;
        align-items: flex-end;
    }
    .header__top-butts {
        position: absolute;
        top: 35px;
        right: 50px;
        z-index: 1;
    }

    /* .header__logo-menu {} */

    .what {
        display: block;
        height: fit-content;
        padding: 60px 0;
    }

    .p.white.centr {
        margin-bottom: 60px;
    }

    .what__blockw {
        width: 100%;
        height: fit-content;
        padding: 30px 30px 30px 80px;
    }



    .top-main {
        width: 100%;
        text-align: center;
        background-image: url(../image/top.png);
        align-items: center;
        height: fit-content;
        padding-top: 80px;
        padding-bottom: 101px;
        background-position: 64% 10%;
        background-repeat: no-repeat;
        background-size: 500% 175%;
    }

    .top__text {
        font-size: 40px;
        line-height: 50px;
        font-weight: bold;
        text-align: center;
        width: 100vw;
    }

    .h4 {
        margin-top: 40px;
        margin-bottom: 40px;
        width: 100vw;
    }

    .top-main .h4 {
        text-align: center;
        display: none;
    }
    .top-main .h4-mobile{
        width: 66%;
        display: block;
        text-align: center;
        color: $primary-color;
        font-family: 'Montserrat', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 30px;
        margin: 35px 0;
    }
    .butt+.butt {
        margin-top: 25px;
    }

    br {
        display: none;
    }



    .who__text-right {
        padding-left: 0px;
    }

    .hide-sm {
        display:none;
    }



    .but-menum {
        display: block;
    }

    // .header__top-butts {
    //     display: flex;
    //     align-items: center;
    //     gap: 24px;
    // }

    .header__top-menu {
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        margin-bottom: 100px
        /* position: absolute;
        top: 164px;
        left: 50%;
        width: 112px;
        gap: 30px;
        transform: translateX(-50%); */
    }
    .pad0{
        padding: 0px;
    }

    .link {
        padding: 0;
        font-size: 30px;
        font-weight: 400;
        text-align: center;
    }

    .container {
        padding: 0 35px;
    }

    .pad0{
        padding: 0px;
    }

    .header__top {
        background-color: white;
        padding: 36px 0;
    }

    .header__top-wrapper {
        grid-template-columns: auto auto;
        grid-template-areas: "header__logo header__top-butts"
                            "header__top-menu header__top-menu";
        gap: 20px;
        justify-content: space-between;
    }

    .top__text{
        width: 79%;
    }
    .header {
        background-image: none;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: fit-content;
    }
    .top-main__butts{
        display: flex;
        flex-direction: column;
        width: fit-content;
        gap: 25px;
        align-items: center;
    }

    .wh__world-map{
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (min-width: 415px) {
    .what__mans {
        left: -56px;
    }
    .matters {
        background-color: #FFFFFF;
        display: block;
        padding-bottom: 233px;
    }
}

@media (min-width: 769px) {
    .wh__world-map {
        padding-left: 100px;
        padding-right: 100px;
    }
    .meet__team-item {
        padding-left: 10px;
        padding-right: 10px;
        margin-left: 35px;
    }
    .footer__menu {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }
    .footer__col-menu {
        width: 45%;
    }
}
@media (min-width: 1100px) {
    .footer__menu {
        flex-wrap: nowrap;
    }
    .footer__col-menu {
        width: auto;
    }
    .container {
        padding: 0 15px;
    }
    .meet__team {
        display: flex;
        justify-content: space-between;
        width: 1050px;
        position: relative;
        margin: 0 auto;
    }

    .who__flex-column {
        display: flex;
        justify-content: space-between;
        margin-top: 100px;
        flex-wrap: nowrap;
    }
    .who__text-right {
        padding-left: 120px;
    }

    .wh {
        padding-bottom: 415px;
    }
    .wh__cont {
        display:flex;

    }
    .wh__text {
        width:58%;
    }

    .wh__world-map{
        padding-left: 0;
        padding-right: 0;
        width: 42%;
    }
    .wh__world-map .world{

    }
    .wh2__request {
        background-color: white;
        display: flex;
        margin: -365px auto 0 auto;
        width: 1050px;
        justify-content: space-between;
        align-items: stretch;
    }
    .wh2__photo-girl {
        overflow: visible;
        width: auto;
    }
}
@media (min-width: 1641px) {
    .what__container {
        padding-left: 60px;
        padding-right: 60px;
        margin-left: 0;
        min-width: auto;
        overflow: visible;
    }
    .wh {
        /*height: 807px;    */
    }
    .hide-xl {
        display:none;
    }
    .width-t {
        width: 456px;
    }
    
    .width-p {
        width: 414px;
    }
    
    .wh__cont {
        margin: 0 195px;
        display: flex;
        justify-content: space-between;
        padding-top: 100px;
    
    }
    
    .wh2 {
        background-color: #FAFAFA;
        /*height: 50vh;*/
        display: flex;
    }
    .wh2__form {
        width: 585px;
    }

}

@media (min-width:1640px) {
    .container {
        max-width: 1311px;
    }
}
@media (min-width:501px) {
    .brown {
        margin-bottom: 25px;
    }

}

@media (max-width: 1100px) {
    // .wh2__photo-girl {
    //     height: 200px;
    // }

    .wh2__photo-girl img {
        width: auto;
        margin: 0 auto;
    }
}
@media print {

}